
.footer {
    background-color: rgb(63, 61, 61);
    //   height: 600px;
    width: 100%;
    color: #949494;
    padding: 10px 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footer_inner{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #0f79af;
  }
  }
  
  @media only screen and (max-width:700px) {
   .footer{
    height: 110px;
    width: 100%;
   .footer_inner{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 13px;
 ul{
  padding: 0;
  margin: 0;

 }
  }
  }
}